<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt">

  <!-- Enable asp.net core layout renders -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- The targets to write to -->
  <targets>
    <!-- write logs to file -->
    <target xsi:type="File" name="request-time" fileName="d:\HotelAPILogs\request-time.log"
      layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}"/>

    <target xsi:type="File" name="exceptions" fileName="d:\HotelAPILogs\nlog-all-exceptions-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}"/>

    <target xsi:type="File" name="allfile" fileName="d:\HotelAPILogs\nlog-all-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}"/>
  </targets>

  <!-- Rule to map from logger name to target -->
  <rules>
    <!-- All logs, icluding from Microsoft -->
    <logger name="*" minlevel="Trace" writeTo="allfile" />
    <logger name="HotelAPI.*" minlevel="Error" writeTo="exceptions" />
    <logger name="HotelAPI.Middleware.RequestTimeMiddleware" minlevel="Trace" writeTo="request-time" />

  </rules>
</nlog>